
<h3>MemoList</h3>

<% @memos.each do |memo| %>
  <div class ="col-sm-4">    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4><%= memo.title %></h4>
        <p><%= memo.category.name %></p>
        <div class="bottuns">
        <a href="/memos/<%=memo.id %>" data-method="delete"</a><span class="glyphicon glyphicon-trash"</span></a>
        <a href="/memos/<%=memo.id %>/edit"><span class="glyphicon glyphicon-edit"</span></a>
        </div>
      </div>
      <div class="panel-body">
        <%= memo.body %>
      </div>
    </div>
  </div>    
<% end %>



